*, *!:before, *!:after {
 box-sizing: inherit;
}
html {
 box-sizing: border-box;
 opacty: 0.4;
}
.content-box-component {
 box-sizing: content-box;
}

bod {
  background-image: url("../img/gllacy-index.jpg");
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

 .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

 }

a {
  color: #ffffff;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.site-navigation a {
  display: block;
  padding: 7px 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
  border-radius: 16px;
}

.site-navigation li ul {
  display: none;
  position: absolute;
  width: 145px;
  padding: 0 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-navigation li ul li a {
  display: block;
  padding: 11px 0 11px 21px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.site-navigation li ul li a:hover {
  background-color: #fbded8;
  border-radius: 0;
}

.site-navigation li:hover ul {
  display: block;
}

 .btn {
   height: 32px;
   background-color: rgba(255, 255, 255, 0.2);
   border: none;
   font-size: 14;
   font-weight: 500;
   line-height: 16px;
   color: #ffffff;
 }

.btn-search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 7px;
  margin-right: 10px;
}

.btn-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  border-radius: 16px;
  margin-right: 10px;
}

.btn-login svg {
  margin-right: 7px;
}

.btn-cart {
  display: flex;
  padding: 6px 16px 6px 45px;
  border-radius: 16px;
  background-image: url("../img/svg/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}

.user-navigation button {
  font-size: 14px;
}

.btn-search:hover,
.btn-search:focus,
.btn-login:hover,
.btn-login:focus,
.btn-cart:hover,
.btn-cart:focus {
  color: #000000;
  background-color: #ffffff;
}

.btn-search:hover path,
.btn-search:focus path,
.btn-login:hover path,
.btn-login:focus path {
  fill: #000000;
}

.btn-cart:hover,
.btn-cart:focus {
  background-image: url("../img/svg/basket-red.svg");
  background-position: 16px 6px;
  background-repeat: no-repeat;
}

.info-phone p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.info-phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.slider-text {
  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
  color: #ffffff;
}

.banners b {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.banners p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.about-us {
  color: #323232;
  background-image:
  url("../img/bgseo.png");
  background-repeat: repeat repeat;
  background-position: 0 0;
}

.about-us p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.our-features {
  list-style: none;
}

.our-features li {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.news-box {
  width: 560px;
  margin: 0 0;
  padding: 0 0;
  background-size: 560px 220px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/bgr-news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.news-box p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.news-list {
  list-style: none;
}

.news-list a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.mailout-container {
  width: 560px;
  height: 220px;
  margin: 0 0;
  padding: 0 0;
  background-image: url("../img/svg/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 16px;
}

.mailing-out {
  margin: 0 0;
  padding: 0 0;
  background-color: #f8f7f4;
  border-radius: 16px;
}

.mailing-out p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a
}

.button {
  font: inherit;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-slider {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn-slider:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-slider:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.mailing-form input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  background-color: #ffffff;
}

.mailing-form input:hover {
  border: 2px solid rgba(178, 178, 178, 0.5);
}
.mailing-form input:focus {
  border-color: #2e88e4;
}

.map-info {
  background-image: url("../img/map-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 430px;
}

.form-adress {
  width: 303px;
  height: 305px;
  background-color: #ffffff;
  border-radius: 16px;
}

.form-adress p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.form-adress p a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}


.social-footer ul {
  list-style: none;
  color: #e6ebe9;
}

.social-footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu li:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

.made-in {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400px;
  color: #ffffff;
}

.made-in p a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-items,
.products {
  list-style: none;
}

.catalog-items img,
.products img {
  border-radius: 50%;
}

.catalog-items a,
.products a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-items p,
.products p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-items span,
.products span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-hit::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;

  width: 60px;
  height: 60px;

  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
}

.products li:hover,
.catalog-items li:hover {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-navigation ul {
  list-style: none;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.container h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff
}

.filter select,
.radio,
.checkbox {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 16px;
  height: 36px;
}

.submit-filter {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 16px;
}

.filter-form p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff
}

.filter-form option,
.filter-form input,
.filter-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.pages {
  list-style: none;
}

.pages a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.pages a:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

/* сеткисеткисеткисеткисеткисеткисеткисеткисеткисеткисеткисеткисетки */

.main-container-navigation {
  display: flex;
  width: 1150px;
  align-items: center;
  margin: 0 auto;
  padding: 0 25px;
}

.main-logo {
  width: 154px;
  height: 64px;
  margin-top: 10px;
}

.navigation-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 10px;
}

.site-navigation {
  display: flex;
  width: 410px;
  padding: 0 0;
}

.user-navigation {
  display: flex;
  width: 247px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.ino-phone {
  display: flex;
  width: 1150;
  padding: 0 25px;
  margin: 0 0;
  justify-content: flex-end;
  align-items: flex-end;
}

.info-phone {
  position: absolute;
  width: 167px;
  right: 260px;
}

.info-phone p,
.info-phone a {
  padding: 0;
  margin: 0;
}

.info-phone p {
  position: absolute;
  width: 168px;
  height: 50px;
  text-align: right;
}

.info-phone a {
  position: absolute;
  width: 168px;
  right: 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.slider {
  position: relative;
  padding-top: 315px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider p {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 25px;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream-slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream-slider-3.png");
}

.slider button {
  margin-top: 35px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/icecream-slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/icecream-slider-3.png");
}

.banners {
  display: flex;
  margin: 0 auto;
  padding: 0 25px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.banner-one {
  display: flex;
  flex-direction: column;
  width: 560px;
  background-image: url("../img/raspberries-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0 0;
  padding: 0 0;
}

.banner-two {
  display: flex;
  flex-direction: column;
  width: 560px;
  background-image: url("../img/choco-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0 0;
  padding: 0 0;
}

.banners p,
.banners b {
  padding: 0 0;
  margin: 0 0;
}

.banners b {
  margin-left: 20px;
  margin-top: 23px;
  margin-bottom: 15px;
}

.banners p {
  margin-left: 20px;
  margin-bottom: 50px;
}

.banners button {
  align-self: flex-end;
  margin-right: 21px;
  margin-bottom: 22px;
}

.products-index {
  margin: 0 auto;
  padding: 0 25px;
  margin-bottom: 40px;
}

.products {
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products li,
.products img,
.products a,
.products p,
.products span {
  margin: 0 0;
  padding: 0 0;
}

.products li {
  position: relative;
  width: 267px;
  margin: 0 0;
  padding: 0 0;
}

.products li img {
  margin-bottom: 15px;
}

.products li a {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}

.products p {
  position: absolute;
  top: 205px;
}

.about-us {
  display: flex;
  width: 1150px;
  flex-direction: column;
  min-height: 306px;
  margin: 0 auto;
  border-radius: 16px;
  margin-bottom: 40px;
}

.about-us p,
.about-us li {
  margin: 0 0;
  padding: 0 0;
}

.about-us p {
  width: 1010px;
  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.about-icon-one::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 19px;

  width: 50px;
  height: 50px;

  background-image: url("../img/svg/ice-cream.svg");
  background-repeat: no-repeat;
}

.about-icon-two::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 585px;

  width: 50px;
  height: 50px;

  background-image: url("../img/svg/cow.svg");
  background-repeat: no-repeat;
}

.about-icon-three::after {
  content: "";
  position: absolute;
  top: 72px;
  left: 19px;

  width: 50px;
  height: 50px;

  background-image: url("../img/svg/eco.svg");
  background-repeat: no-repeat;
}

.about-icon-four::after {
  content: "";
  position: absolute;
  top: 72px;
  left: 585px;

  width: 50px;
  height: 50px;

  background-image: url("../img/svg/thermometer.svg");
  background-repeat: no-repeat;
}

.our-features {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 76px;
  padding-right: 21px;
}

.our-features li {
  width: 483px;
  margin-bottom: 20px;
}


.news-mail-container {
  display: flex;
  margin: 0 auto;
  padding: 0 25px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.news-box p,
.news-box ul,
.news-box li,
.news-box a {
  padding: 0 0;
  margin: 0 0;
}

.news-box {
  display: flex;
  flex-direction: column;
}

.news-box ul {
  width: 280px;
  margin-left: 20px;
}

.news-box p {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 12px;
}

.mailout-container {
  display: flex;

}

.mailing-out {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 5px 5px;
}

.mailing-out p,
.mailing-out input {
  margin: 0 0;
  padding: 0 0;
}

.mailing-out p {
  width: 508px;
  margin-top: 33px;
  margin-left: 16px;
  margin-bottom: 40px;
}

.mailing-out input {
  margin-left: 16px;
  margin-right: 12px;
  width: 368px;
}

.map-info {
  position: relative;
  width: 100%;
}

.form-adress {
  position: absolute;
  right: 25px;
  bottom: 63px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 63px;
}

.map-info img {
  position: absolute;
  left: 266px;
  top: 139px;
}

.form-adress p,
.form-adress span,
.form-adress a {
  margin: 0 0;
  padding: 0 0;
}

.form-adress p:nth-child(1) {
  margin-top: 31px;
  margin-left: 24px;
  width: 150px;
}

.adress {
  display: flex;
  width: 223px;
}

.form-adress p:nth-child(2) {
  margin-left: 24px;
  margin-top: 23px;
  margin-bottom: 25px;
}

.form-adress a {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-adress button {
  align-self: center;
}

.main-footer {
  display: flex;
  width: 1200px;
  padding: 0 0;
  margin: 0 auto;
  justify-content: space-between;
}

.social-footer,
.social-footer ul,
.social-footer li,
.social-footer a,
.footer-menu,
.footer-menu ul,
.footer-menu li,
.footer-menu a,
.made-in,
.made-in a,
.made-in img,
.made-in p {
  padding: 0 0;
  margin: 0 0;
}

.social-footer {
  display: flex;
  margin-left: 25px;
  margin-bottom: 30px;
  margin-top: 35px;
}

.social-footer ul {
  display: flex;
  align-items: center;
}

.social-footer li {
  color: #ffffff;
  width: 32px;
  height: 32px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 11px;
}

.social-footer li:nth-child(1) {
  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: top, center;
}

.social-footer li:nth-child(2) {
  background-image: url("../img/svg/instagram.svg");
  background-repeat: no-repeat;
  background-position: top, center;
}

.social-footer li:nth-child(3) {
  background-image: url("../img/svg/fb.svg");
  background-repeat: no-repeat;
  background-position: top, center;
}

.social-footer li:nth-child(4) {
  background-image: url("../img/svg/vk.svg");
  background-repeat: no-repeat;
  background-position: top, center;
}

.footer-menu {
  position: relative;
  display: flex;
  width: 335px;
}

.footer-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-menu li {
  width: 165px;
  text-decoration: underline;
}

.footer-menu li:nth-child(1)::before {
  content: "";

  color: #ffffff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  left: -20px;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.made-in {
  display: flex;
  margin-right: 25px;
  flex-direction: column;
}

.made-in img {
  width: 110px;
  margin-top: 18px;
}

.catalog-navigation,
.catalog-navigation ul,
.catalog-navigation li,
.catalog-navigation a {
  margin: 0 0;
  padding: 0 0;
}


.catalog-navigation {
  display: flex;
  margin-left: 25px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.catalog-navigation ul {
  display: flex;
  width: 222px;
  justify-content: space-between;
}

.catalog-name {
  padding: 0 0;
  margin: 0 0 22px 25px;
}

.filter,
.filter form,
.select,
.filter p,
.range,
.range-input,
.range-input input,
.radio,
.checkbox,
.submit-filter {
  padding: 0 0;
  margin: 0 0;
}

.filter select {
  width: 193px;
}

.radio {
  width: 412px;
}

.radio input[type="radio"] {
  margin: 0 0;
  padding: 0 0;
}

.radio-container p {
  margin-bottom: 7px;
}

.select p {
  margin-bottom: 7px;
}

.checkbox-container p {
  margin-bottom: 7px;
}

.checkbox {
  width: 702px;
}

.submit-wrapper {
  padding-top: 23px;
}

.submit-filter {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 7px 29px;
}

.filter {
  display: flex;
  width: 865px;
  padding: 0 0;
  margin: 0 0 40px 25px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 865px;
  padding: 0 0;
  margin: 0 0 0 25px;
}

.filter-container-one {
  display: flex;
  justify-content: space-between;
  width: 865px;
  margin-bottom: 16px;
}

.filter-container-two {
  display: flex;
  justify-content: space-between;
  width: 865px;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

/* rangerangerangerangerangerangerangerangerangerangerangerange */

.range {
  color: #ffffff;
}

.price-wrapper {
  display: flex;
}

.filter-range-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.price-controls {
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 48%;

  width: 7px;
  height: 2px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  margin-left: 5px;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
}

.price-controls input {
  width: 30px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  height: 36px;
  width: 220px;
}

.range-controls {
  position: absolute;
  top: 15px;
  left: 22px;
}

.range-controls .scale {
  height: 2px;
  color: #ffffff;
  background: rgba(255, 255, 255, 1);
}

.range-controls .bar {
  width: 176px;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 5px;
  height: 5px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 13px;
}

.range-toggle-max {
  left: 110px;
}

/* rangerangerangerangerangerangerangerangerangerangerangerange */

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 25px;
  margin-bottom: 40px;
}

.catalog-items {
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog li,
.catalog img,
.catalog a,
.catalog p,
.catalog span {
  margin: 0 0;
  padding: 0 0;
}

.catalog-items li {
  position: relative;
  width: 267px;
  margin: 0 0 40px 0;
  padding: 0 0;
}

.catalog img {
  margin-bottom: 15px;
}

.catalog-items li a {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}

.catalog p {
  position: absolute;
  top: 210px;
  left: 0px;
}

.pages-list,
.pages,
.pages li,
.pages a,
.pages button {
  padding: 0 0;
  margin: 0 0;
}

.pages a {
  padding: 5px 11px 5px 10px;
}

.pages-list {
  display: flex;
  width: 1150px;
  justify-content: flex-end;
  margin-left: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.pages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

/* modalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodalmodal */

.modal {
  color: #323232;
  background-color: #f8f7f4;
}

.mailout-form,
.mailout-form p,
.mailout-form input {
  padding: 0 0;
  margin: 0 0;
}

.modal-mailout {
  display: none;
  position: fixed;
  top: 130px;
  left: 50%;
  width: 477px;
  padding: 20px 0 25px 23px;
  margin-left: -238px;
  border-radius: 15px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 17px;
  height: 3px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.mailout-form {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.headline-form {
  width: 355px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0;
  margin-bottom: 23px;
}

.mailout-form input[type="text"] {
  box-sizing: border-box;
  width: 268px;
  padding: 12px 15px;
  margin-bottom: 20px;

  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.mailout-form input:focus {
  border-color: #663d15;
}

.mailout-form textarea {
  width: 100%;
  resize: none;
  padding: 12px 15px;
  margin: 0 0;
  margin-bottom: 25px;
  color: #999999;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.mailout-form button {
  align-self: flex-end;
}

.modal-search,
.madal-search input {
  padding: 0 0;
  margin: 0 0;
}

.modal-search {
  display: none;
  position: absolute;
  top: 55px;
  right: 220px;

  width: 340px;
  padding: 20px 15px;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-search input {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.modal-login {
  display: none;
  position: absolute;
  top: 55px;
  right: 370px;
  width: 278px;
  padding: 20px 15px;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 20px;

  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.login-form-container {
  display: flex;
  justify-content: space-between;
}

.login-form-container-two {
  display: flex;
  flex-direction: column;
}

.login-form-container-two a {
  color: #323232;
}

.modal-cart {
  position: ;
  width: 540px;
  margin: 0 0;
}

.modal-wrapper {
  position: relative;
  padding-left: 88px;
  padding-top: 28px;
}

.modal-cart table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-collapse: collapse;
  padding-right: 34px;
}

.row-1, row-4 {
  width: 217px;
}

.row-2, row-5 {
  width: 95px;
}

.row-3, row-6 {
  width: 50px;
  margin-right: 34px;
}

.row-1, .row-2, .row-3 {
  padding-bottom: 37px;
}


div,section,a,ul,li,p,footer,header,span{
outline: 1px solid red;
}
